<div class="container">
    <div class="movedor">
        <button class="btn btn-primary" (click) ="salir()">SALIR</button>
    </div>
    <form [formGroup] = "formGroup" (ngSubmit) = "aceptar()">
      <div class="row">
        <div class="col-md-4 mb-5 epa">
            <h2>LOGIN</h2>
          </div>
      </div>
      <div class="row formulario">
        <div class="col-xl-12 mb-3">
          <label for="usuario" class="form-label">Usuario</label>
          <input type="text" class="form-control" id="usuario" placeholder="Ingrese usuario" formControlName= "usuario">
          <small class="invalid" *ngIf = "formGroup.get('usuario')?.errors?.required && formGroup.get('usuario')?.touched">El usuario es requerido</small>
          <small class="invalid" *ngIf = "formGroup.get('usuario')?.errors?.pattern && formGroup.get('usuario')?.touched">Formato inválido.</small>
        </div>
        <div class="col-xl-12 mb-4">
          <label for="contraseña" class="form-label">Contraseña</label>
          <input type="text" class="form-control" id="contraseña" placeholder="Ingrese contraseña" formControlName= "contraseña" >
          <small class="invalid" *ngIf = "formGroup.get('contraseña')?.errors?.required && formGroup.get('contraseña')?.touched">La contraseña es requerida</small>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 d-grid gap-2">
          <button type="submit" class="btn btn-primary btn-block" [disabled] = "formGroup.invalid">
            Aceptar
          </button>
        </div>
      </div>
    </form>
  </div>

